<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://assets.crowd.aws/crowd-html-elements.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/text-highlighter/build/TextHighlighter.min.js"></script>
    <link href="../assets/main.css" rel="stylesheet" />
    <title>intro</title>
</head>

<body>
    <crowd-form>
        <full-instructions>
            <h3>Introduction</h3>
            <p>👋 Hello~ We are the <a href="http://https://ai.ischool.utexas.edu/" target="_blank" rel="noopener noreferrer">Information Retrieval Team from the University of Texas at Austin</a> , seeking your help to identify deceptive reviews (i.e., fake
                comments) from the web. In this study, you will experience a series of sessions to: 1) examine the differences and similarities between deceptive and truthful reviews; and 2) identify unknown reviews whether they are deceptive or truthful.
                Your learning performance could help us understand how to develop a better human-AI collaborative system to detect deceptive online reviews.</p>

            <h3>Task descriptions</h3>
            <p>Our tasks contain training sessions and testing sessions. In the training session, we need your help to highlight these differences or similarities. In the testing session, we want you to identify unknown reviews, telling us whether they are
                deceptive or truthful. If you have any questions about the task, please contact <a href="mailto:liu.ho@utexas.edu">liu.ho@utexas.edu</a>.</p>
        </full-instructions>

        <short-instructions>
            <h3>Task descriptions</h3>
            <p>👋 Hello~ We are the <a href="http://https://ai.ischool.utexas.edu/" target="_blank" rel="noopener noreferrer">Information Retrieval Team from the University of Texas at Austin</a>, seeking your help to identify deceptive reviews (i.e., fake
                comments) from the web.</p>
            <p>Our tasks contain <b>training sessions</b> and <b>testing sessions</b>. We will first present deceptive and truthful reviews in the training session to let you examine their differences and similarities.</p>
            <p>In the training session, we need your help to highlight these differences or similarities.</p>
            <p>In the testing session, we want you to identify unknown reviews, telling us whether they are deceptive or truthful. Both training sessions will take place several times. </p>
            <p>Your learning performance could help us understand how to develop a better human-AI collaborative system to detect deceptive online reviews.</p>
        </short-instructions>

        <div class="container">
            <div class="left">
                <h3>Task descriptions</h3>
                <p>👋 Hello~ We are the <a href="http://https://ai.ischool.utexas.edu/" target="_blank" rel="noopener noreferrer">Information Retrieval Team from the University of Texas at Austin</a>, seeking your help to identify deceptive reviews (i.e.,
                    fake comments) from the web. In this study, you will experience a series of sessions, including:
                    <ol>
                        <li><b>Training:</b> examine the differences and similarities between deceptive and truthful reviews; and</li>
                        <li><b>Testing:</b> identify unknown reviews whether they are deceptive or truthful.</li>
                    </ol>
                    Note that both sessions would last several rounds. Your learning performance could help us understand how to develop a better human-AI collaborative system to detect deceptive online reviews. If you have any questions about the task, please contact
                    <a href="mailto:liu.ho@utexas.edu">liu.ho@utexas.edu</a>.</p>

                <p>Click the <b>submit</b> button to continue the task</p>
            </div>
        </div>

    </crowd-form>
</body>

</html>